.header
    grid-area: h
    background: #645d15
    box-shadow: 0 0 10px silver
    padding: 10px 0 10px 20px
    position: relative
    img
        width: 60px
    .loginBlock
        float: right
        a
            color: white
            text-decoration: none